[submodule "themes/minima"]
	path = themes/minima
	url = https://github.com/mivinci/hugo-theme-minima.git
[submodule "themes/ficurinia"]
	path = themes/ficurinia
	url = https://gitlab.com/gabmus/hugo-ficurinia
[submodule "themes/typo"]
	path = themes/typo
	url = https://github.com/tomfran/typo.git
